body

{
background-color: #FF6433;

 font-family:'Lexend Tera', sans-serif;;

}

.cuadro{
 margin-left: 23%;
}
.cuadro1{
  margin-left: 20%;
}
h2 {
  margin-left: 10%;
}
img {
  margin-left: 17%
}
h3{
  margin-left: 24%;
}
